*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Mukta Mahee", arial, sans-serif;
    margin: 0;
    font-weight: 200;
    /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Figtree";
    margin: 0;
    font-weight: 500;
    color: #000;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.container-full {
    width: 100%;
    /* max-width: 1600px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}


.text-center {
    text-align: center;
}

.button {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 16px 42px;
    letter-spacing: 3px;
    font-size: 15px;
    text-transform: uppercase;
    transition: all ease 0.25s;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.padding-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-26 {
    font-size: 26px;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.f-weight-300 {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.pos-relative {
    position: relative;
}

.of-hidden {
    overflow: hidden;
}

.width-100 {
    width: 100%;
    height: auto;
}
.font-bold {
    font-weight: bold;
}